<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NMDPRA - Password Reset</title>
    <style>
      @media only screen and (max-width: 600px) {
        .container {
          width: 100% !important;
        }
        .content {
          padding: 20px !important;
        }
      }
    </style>
  </head>
  <body
    style="
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
    "
  >
    <table
      role="presentation"
      cellspacing="0"
      cellpadding="0"
      border="0"
      width="100%"
    >
      <tr>
        <td style="padding: 20px 0">
          <table
            role="presentation"
            cellspacing="0"
            cellpadding="0"
            border="0"
            width="600"
            style="margin: auto"
            class="container"
          >
            <tr>
              <td style="background-color: #00a86b; height: 5px"></td>
            </tr>
            <tr>
              <td
                style="background-color: #ffffff; padding: 20px 40px"
                align="center"
              >
                <img
                  src="https://www.nmdpra.gov.ng/nmdpraimages/nmdpraLogo.png"
                  alt="Company Logo"
                  style="max-width: 80px; width: 100%"
                  class="logo"
                />
              </td>
            </tr>
            <tr>
              <td
                style="background-color: #ffffff; padding: 40px"
                class="content"
              >
                <h1 style="margin: 0; font-size: 24px; color: #333333">
                  Dear <%= name %>,
                </h1>
                <p
                  style="
                    margin-top: 20px;
                    font-size: 16px;
                    line-height: 1.5;
                    color: #333333;
                  "
                >
                  You requested for password reset from NMDPRA portal
                </p>

                <p style="margin-top: 30px; text-align: center">
                  <a
                    href="<%= activationLink %>"
                    style="
                      background-color: #00a86b;
                      color: #ffffff;
                      padding: 12px 24px;
                      text-decoration: none;
                      font-weight: bold;
                      display: inline-block;
                      border-radius: 4px;
                    "
                    >Reset Password</a
                  >
                </p>
                <p
                  style="
                    margin-top: 30px;
                    font-size: 16px;
                    line-height: 1.5;
                    color: #333333;
                  "
                >
                  If that does not work, copy and paste the following link in
                  your browser:
                </p>
                <p
                  style="
                    margin-top: 10px;
                    font-size: 14px;
                    line-height: 1.5;
                    color: #00a86b;
                    word-break: break-all;
                  "
                >
                  <%= activationLink %>
                </p>
                <p
                  style="
                    margin-top: 30px;
                    font-size: 16px;
                    line-height: 1.5;
                    color: #333333;
                  "
                >
                  Best regards,<br />
                  NMDPRA TEAM
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
